#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp RPAR  &kp T  &kp J  &kp Q  &kp U  &kp BSPC
                &kp E     &kp O  &kp Y  &kp G  &kp F  &kp DEL
                &kp QMARK &kp A  &kp I  &kp K  &kp M  &kp ENTER
                &kp XX    &kp XX &kp HOME &kp END &kp XX &kp XX
                &kp LCTRL &kp SPACE &kp LGUI &kp RALT &kp ENTER &kp RCTRL
            >;
        };
    };
};
