#include <dt-bindings/zmk/matrix_transform.h>
#include <behaviors.dtsi>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &default_transform;
    };
    
    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row"; 
        wakeup-source;
        col-gpios
            = <&gpio1 11 GPIO_ACTIVE_LOW>
            , <&gpio1 13 GPIO_ACTIVE_LOW>
            , <&gpio1 15 GPIO_ACTIVE_LOW>
            , <&gpio0 2  GPIO_ACTIVE_LOW>
            , <&gpio0 29 GPIO_ACTIVE_LOW>
            , <&gpio0 31 GPIO_ACTIVE_LOW>
            ;
        row-gpios
            = <&gpio0 17 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 22 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 24 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio1 0  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
    };
    
    default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        columns = <6>;
        rows = <5>;
        map = <
            0  1  2  3  4  5
            6  7  8  9 10 11
           12 13 14 15 16 17
           18 19 20 21 22 23
           24 25 26 27 28 29
        >;
    };
};
