#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp RPAR  &kp T  &kp J  &kp Q  &kp U  &kp BSPC
                &kp E     &kp O  &kp Y  &kp G  &kp F  &kp DEL
                &kp QMARK &kp A  &kp I  &kp K  &kp M  &kp RETURN
                &kp X     &kp X  &kp HOME &kp END &kp X &kp X
                &mo 1 &mo 2 &kp PRINTSCREEN
                &kp SPACE &kp COMMA &kp DOT
            >;
        };
        layer_1 {
            bindings = <
                &kp EQUAL   &kp N7  &kp N8   &kp N9  &kp SLASH  &kp BSPC
                &kp E       &kp N4  &kp N5   &kp N6  &kp BACKSLASH  &kp DEL
                &TRANS      &kp N1  &kp N2   &kp N3  &kp MINUS  &kp RETURN
                &TRANS      &TRANS  &kp LBKT &kp RBKT &TRANS &TRANS
                &mo 1 &mo 2 &kp PRINTSCREEN
                &kp SPACE &kp COMMA &kp DOT

    };
};
