name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Cache west modules
        uses: actions/cache@v4
        env:
          cache-name: cache-zephyr-modules
        with:
          path: |
            modules/
            tools/
            zephyr/
            bootloader/
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('app/west.yml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y git wget ninja-build gperf ccache dfu-util device-tree-compiler protobuf-compiler
          
      - name: Install Zephyr SDK
        run: |
          wget https://github.com/zephyrproject-rtos/sdk-ng/releases/download/v0.16.5/zephyr-sdk-0.16.5_linux-x86_64.tar.xz
          tar xf zephyr-sdk-0.16.5_linux-x86_64.tar.xz
          cd zephyr-sdk-0.16.5
          ./setup.sh -t arm-zephyr-eabi -h -c
      
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      
      - name: Install West
        run: |
          pip install west
      
      - name: West Init
        run: west init -l app/
      
      - name: West Update
        run: west update
      
      - name: West Zephyr export
        run: west zephyr-export
      
      - name: Install Python dependencies
        run: pip install -r zephyr/scripts/requirements.txt
      
      - name: West Build (bugbearzmnright nice_nano)
        run: west build -s app -b nice_nano -- -DSHIELD=bugbearzmnright
      
      - name: Rename artifact
        run: cp build/zephyr/zmk.uf2 bugbearzmnright_nice_nano.uf2
      
      - name: Archive firmware
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: bugbearzmnright_nice_nano.uf2
