name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: zmkfirmware/zmk-build-arm:stable
    name: Build
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Cache west modules
        uses: actions/cache@v3
        env:
          cache-name: cache-zephyr-modules
        with:
          path: |
            modules/
            tools/
            zephyr/
            bootloader/
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('app/west.yml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      
      - name: West Init
        run: west init -l app/
      
      - name: West Update
        run: west update
      
      - name: West Zephyr export
        run: west zephyr-export
      
      - name: West Build (bugbearzmnright nice_nano_v2)
        run: west build -s app -b nice_nano_v2 -- -DSHIELD=bugbearzmnright
      
      - name: Rename artifact
        run: cp build/zephyr/zmk.uf2 bugbearzmnright_nice_nano_v2.uf2
      
      - name: Archive firmware
        uses: actions/upload-artifact@v3
        with:
          name: firmware
          path: bugbearzmnright_nice_nano_v2.uf2
